SUBSYSTEM=="usb", ATTR{idProduct}=="0018", ATTR{idVendor}=="2886", MODE:="0666"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0018", ATTRS{idVendor}=="2886", MODE:="0666"
